.cont-prod {
  min-height: 100vh;
}

/*estil ratlla*/
.linia_titol {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
	margin-top: 0.5rem!important;
}

/*estil productes*/
.ordenar_per {
	position: absolute;
	bottom: 0;
	right: 0;
	padding-right: 15px;
}

.form_ordre {
	margin-bottom: 0px!important;
}

.imatge_prod:hover {
  transform: scale(1.1);
	transition-duration: 0.5s;
}

#pagin {
	display: flex;
	list-style: none;
}

.form-check-input {
  margin-top: 0.47rem!important;
}

.producte {
	cursor: pointer;
}

.p-preu {
	margin-bottom: 0.5rem!important;
}

hr.style-linia-comp {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.rating {
	padding: 0;
	color: #ffa000;
	list-style-type: none;
	display: flex
}

.clicable-product {
	text-decoration: none !important;
	color: black!important;
}

.clicable-product:hover {
    text-decoration: none!important;
}
