.cont-orders {
	min-height: 100vh;
}

.linia_titol {
  height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

#ordre-head {
    background-color: #edf4f7;
    position: relative;
    border-top-left-radius: 25px;
    max-width: 800px;
    padding-top: 20px;
    margin: 30px auto 0px
}

#ordre-head .text-uppercase {
    font-size: 0.9rem;
    color: #777;
    font-weight: 600
}

#ordre-head .h4 {
    font-weight: 600
}

#ordre-head .h4+div p {
    font-size: 0.8rem;
    color: #777
}

.sub-contenidor {
    padding: 0px 50px 50px;
    max-width: 800px;
    margin: 0px auto 40px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px
}

label {
    margin-bottom: 0;
    padding: 0;
    font-weight: 900
}

p.text-justificat {
    font-size: 0.9rem;
    margin: 0
}

.row {
    margin: 0px
}

/*productes*/
.card-2 {
    box-shadow: 1px 1px 3px 0px rgb(112, 115, 139)
}

.rounded {
    border-radius: 2.25rem !important
}
