.cont-det {
  min-height: 100vh;
}

.pro-img-details {
    margin-left: -15px;
}

.pro-img-details img {
    width: 80%;
    margin-left: 50px;
}

.product_meta {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    font-size: 20px;
}

.pro-preu {
    font-size: 24px;
    font-weight: 900;
    color: #641D63;
}

.pro-img-list {
    margin: 10px 0 0 -15px;
    width: 100%;
    display: inline-block;
}

.pro-img-list a {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.pro-img-list img {
  width:115px;
  height:100px;
  border: 1px solid #e0e0e0;
}

.qty .count {
    color: #000;
    font-weight: 700;
    text-align: center;
}

.qty .plus {
  cursor: pointer;
  display: inline-block;
  vertical-align: inherit;
  color: white;
  width: 20px;
  height: 20px;
  font: 20px/1 Arial,sans-serif;
  text-align: center;
  border-radius: 50%;
}

.qty .minus {
  cursor: pointer;
  display: inline-block;
  vertical-align: inherit;
  color: white;
  width: 20px;
  height: 20px;
  font: 20px/0.9 Arial,sans-serif;
  text-align: center;
  border-radius: 50%;
}

.minus:hover {
    background-color: #717fe0 !important;
}

.plus:hover {
    background-color: #717fe0 !important;
}

.cart_wish {
  padding: 0!important;
}

.wish_icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.wish-no-bold {
  font-weight: 100;
}

.wish-bold {
  font-weight: 900;
}

.rating {
  padding: 0;
  color: #ffa000;
  list-style-type: none;
  display: flex
}

.nova_opinio {
  margin-left: 10px;
  text-decoration: underline!important;
}

.product-stock{
	font-size: 25px;
	margin-top: 10px;
  font-weight: 700;
}

.in_stock {
  color: #2F8F1E;
}

.no_stock {
  color: #D02929;
}

#reviews {
  margin-left: 25%;
  display: none;
}

.reviews_prod {
  display: flex;
}

p.titol_detall:first-letter {
  text-transform: uppercase;
}

.seleccionat {
  border-bottom: 3px solid #355473;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.text_puntuar {
  color: black;
}

.afegir_carret {
  border-color: #0062cc;
}

.afegir_carret:hover {
  color: #fff;
  background-color: #0069d9;
}

.wish_btn {
  color: #212529!important;
  background-color: #dae0e5!important;
  border-color: #d3d9df;
}

.wish_btn:hover {
  background-color: #e7e7e7!important;
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.estrelles > li > i:hover {
  font-weight: 900!important;
}

span[name="puntuacio"] {
  display: none;
}
