@media (min-width: 1200px) {
  .form-inline .buscador {
      width: 500px;
    }
}

.appbar_my {
  background-color: #848F9A;
  margin-bottom: 0px!important;
  border-bottom: 0px!important;
  background-image: linear-gradient(15deg, #A2ABB3 0%, #343A40 100%);
}

#logo {
  width: 45%;
  margin-top: -10px;
  margin-bottom: -10px;
}

/* Efectes per la nav bar*/
a {
    text-decoration: none !important;
}

nav.menu a,
nav.menu a:after,
nav.menu a:before {
  transition: all .5s;
}

nav.menu a {
  position:relative;
  z-index: 1;
}

nav.menu a:hover {
  color: #91640F;
}

nav.menu a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #343A40;
  visibility: none;
  opacity: 0;
  z-index: -1;
}

nav.menu a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

ul {
  margin-bottom: 0px;
  list-style: none;
}

ul li {
  display: inline-block;
  position: relative;
  text-align: left;
}

ul li .item_amagat {
  display: block;
  padding: 8px 15px;
  color: #333;
  text-decoration: none;
}

ul li .item_amagat:hover {
  color: white;
}

ul li ul.dropdown {
  padding-inline-start: 0px;
  min-width: 100%; /* Set width of the dropdown */
  background: #f2f2f2;
  display: block;
  position: absolute;
  z-index: 999;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.7s, visibility 0.7s;
}

ul li:hover ul.dropdown {
  visibility: visible;
  opacity: 1;
}

ul li ul.dropdown li {
  display: block;
}

.titol_opcio {
  line-height: 3;
  padding: 0.8rem!important;
}

ul li ul.suggestions li {
  display: block;
  line-height: 3;
}

.buscador {
  border-radius: 0rem!important;
}

.suggestions {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
