.my-paragraph {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
}

/*estil ratlla*/
.linia_titol {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

ul.priv {
  list-style: square!important;
}

ul.priv li {
  display: list-item!important;
}

table, th, td {
  border: 1px solid black;
}
