/*estil ratlla*/
.linia_titol {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

/*estil per les cartes*/
.categoria {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
}

.card-body {
  display: inline-block;
  margin-left: 20px;
  margin-bottom: -15px;
}

.categoria:hover .card-body {
  transform: scale(1.02);
  transition-duration: 1s;
}

.clicable-categoria {
	text-decoration: none !important;
	color: black!important;
}
