.cont-results {
  min-height: 100vh;
}

.no-resultats {
  font-weight: 500;
  font-size: 38px;
  line-height: 1.5;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.subtitol-no-results {
  font-size: 24px;
  line-height: 1.42857;
}
