.cont-log {
  min-height: 100vh;
}

.linia_titol {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.titol {
  font-size: 1.8125rem;
  font-weight: 700;
}

.login-form {
    width: 360px;
    margin: auto;
  	font-size: 15px;
    padding: 100px 0;
    text-align: center;
}

.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.login-form h2 {
    margin: 0 0 15px;
}

.form-control {
    min-height: 38px;
    border-radius: 2px;
}

.btn-ses {
    font-size: 15px;
    font-weight: bold;
}

.text_error {
  float: left;
}

.text_dades_incorrectes {
  color: red;
}
