.container {
  min-height: 100vh;
}

.linia_titol {
  height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.card {
    margin: auto;
    margin-bottom: 100px;
    max-width: 950px;
    width: 100%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent
}

.cart {
    background-color: #fff;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem
}

.resum {
    background-color: #ddd;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 4vh;
    color: rgb(65, 65, 65)
}

.resum .col-2 {
    padding: 0
}

.resum .col-10 {
    padding: 0
}

.main {
    margin: 0;
    padding: 2vh 0;
    width: 100%
}

.col-2, .col {
    padding: 0 1vh;
}

.img-prod {
    width: 3.5rem
}

h5 {
    margin-top: 4vh
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn:hover {
  color: #fff;
  background-color: #0069d9;
}

.qty .count {
    color: #000;
    font-weight: 700;
    text-align: center;
}

.qty .plus {
  cursor: pointer;
  display: inline-block;
  vertical-align: inherit;
  color: white;
  width: 20px;
  height: 20px;
  font: 20px/1 Arial,sans-serif;
  text-align: center;
  border-radius: 50%;
}

.qty .minus {
  cursor: pointer;
  display: inline-block;
  vertical-align: inherit;
  color: white;
  width: 20px;
  height: 20px;
  font: 20px/0.9 Arial,sans-serif;
  text-align: center;
  border-radius: 50%;
}

.minus:hover {
  background-color: #717fe0 !important;
}

.plus:hover {
  background-color: #717fe0 !important;
}

.close {
  margin-right: 25px;
  margin-top: 5px;
  font-size: 0.8rem;
  cursor: pointer;
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
