.contain_foot {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.contain_foot {
  text-align: start!important;
}

.form-control:focus {
  outline: 0;
  box-shadow: none;
}

.my-btn {
  min-height: 30px!important;
  border-radius:0!important;
  background: #243c4f!important;
  color: #fff!important;
  font-weight:600!important;
}

.copyright {
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.2);
}

.Logo > img {
  display: block;
  margin: auto;
}
