.cont-reg {
  min-height: 100vh;
}

.linia_titol {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.form-group {
  margin-bottom: 20px!important;
}

label {
  font-weight: bold;
  white-space:nowrap;
  margin-left: 30px;
	padding-left: 0px!important;
  justify-content: start!important;
}

.text-termes {
	display: inline-block!important;
	white-space: pre;
}

#submit {
  font-size:15px;
  font-weight: bold;
}

.taula-dades, .taula-dades > tbody > tr {
	border: 2px solid black;
}
