/*estil ratlla*/
.linia_titol {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.taula-comparativa {
    width: 100%;
    font-size: .875rem;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar
}

.taula-comparativa table {
    min-width: 41rem;
    table-layout: fixed
}

.taula-comparativa table tbody+tbody {
    border-top-width: 1px
}

.taula-comparativa .table-bordered thead td {
    border-bottom-width: 1px
}

.taula-comparativa .item-comparacio {
    position: relative;
    padding: .875rem .75rem 1.125rem;
    border: 1px solid #e7e7e7;
    background-color: #fff;
    text-align: center
}

.taula-comparativa .item-comparacio .item-comparacio-title {
    display: block;
    width: 100%;
    margin-bottom: 14px;
    color: #222;
    font-weight: 600;
    text-decoration: none
}

.taula-comparativa .item-comparacio .item-comparacio-title:hover {
    text-decoration: underline
}

.taula-comparativa .item-comparacio .btn {
    margin: 0
}

.taula-comparativa .item-comparacio .remove-item {
    display: block;
    position: absolute;
    top: -.3125rem;
    right: -.3125rem;
    width: 1.375rem;
    height: 1.375rem;
    border-radius: 50%;
    background-color: #f44336;
    color: #fff;
    text-align: center;
    cursor: pointer
}

.table-bordered th, .table-bordered td {
    border: 1px solid #e7e7e7;
}

.bg-secundari {
    background-color: #f7f7f7 !important;
}

.rating {
	padding: 0px!important;
	color: #ffa000;
  list-style-type: none;
  display: flex
}

.titol_detall:first-letter {
  text-transform: uppercase;
}
