.titol_pagina {
  margin: 1em 0 0.5em 0;
  color: #343434;
  font-weight: normal;
  font-family: 'Ultra', sans-serif;
  font-size: 36px;
  line-height: 60px;
  text-transform: uppercase;
  text-shadow: 0 2px white, 0 3px #777;
  font-weight: bold;
  margin-bottom: 40px;
}

.linia_titol {
    overflow: visible;
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

.linia_titol:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

/*estil per les cartes*/
.super_cat {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
}

.super_cat img {
    transition: all linear 0.25s;
}

.super_cat:hover img {
    filter: grayscale(100%);
}

.card-body {
  display: inline-block;
  margin-left: 10px;
}

.super_cat:hover .card-body {
  transform: scale(1.05);
  transition-duration: 1s;
}

.clicable-super-categoria {
	text-decoration: none !important;
	color: black!important;
}
