.container {
  min-height: 100vh;
}

/*estil ratlla*/
.linia_titol {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.rating {
  color: #ffa000;
  list-style-type: none;
  display: flex
}
