.cont-crea {
  min-height: 100vh;
}

/*estil ratlla*/
.linia_titol {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.table-custom {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
}

.table-custom:hover {
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
}

.table td {
	border-color: black;
}

.table td {
	vertical-align: middle!important;
}

.col-logo {
	width: 20%;
}

.col-nom {
	width: 60%;
}

.logo {
	width: 50px;
}

.logo-2 {
	width: 65px;
}

tr.grisa {
	background-color: rgba(0,0,0,.05);
}

.shopping-cart {
	padding-bottom: 50px;
	font-family: 'Montserrat', sans-serif;
}

.shopping-cart.dark {
	margin: 10% 0;
	background-color: #f6f6f6;
}

.shopping-cart .content {
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
	background-color: white;
}

.shopping-cart .summary {
	border-top: 2px solid #5ea4f3;
    background-color: #f7fbff;
    height: 100%;
    padding: 30px;
}

.shopping-cart .summary h3 {
	text-align: center;
	font-size: 1.3em;
	font-weight: 600;
	padding-top: 20px;
	padding-bottom: 20px;
}

.shopping-cart .summary .summary-item {
	padding-bottom: 10px;
	padding-top: 10px;
}

.shopping-cart .summary .summary-item:not(:last-of-type) {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.shopping-cart .summary .text {
	font-size: 1em;
	font-weight: 600;
}

.shopping-cart .summary .preu {
	font-size: 1em;
	float: right;
}

.shopping-cart .summary button {
	margin-top: 20px;
}

table > tbody > tr > th > p {
	margin-bottom: 0rem!important;
}
