.cont-data {
  min-height: 150vh;
}

/*estil ratlla*/
.linia_titol {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.rounded {
    border-radius: 1rem
}

.nav-pills .nav-link {
    color: #555
}

.nav-pills .nav-link.active {
    color: white
}

input[type="radio"] {
    margin-right: 5px
}

.bold {
    font-weight: bold
}

/*estil contingut*/
.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-row:before {
    top: 25px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    text-align: center;
		font-weight: bold;
		width: 50px;
    height: 50px;
    padding: 8px 0px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.billing-error > p {
  color: #dc3545;
}

.ul-resum li {
  display: block!important;
}

.img-prod-check {
  width: 15%;
}
